{% extends "base/base.html" %}
{% load jalali_tags %}
{% block title %} UserOrders {% endblock %}
{% block content %}
    <div class="container d-flex">
        <div class="col-8 row mt-3">
            <div class="col-lg-12">
                <div class="table-main table-responsive bg-light rounded">
                    {% for order in orders %}
                        <div class="text-right mr-2">
                            <div>{{ order.create_time | to_jalali:'%y/%m/%d _ %H:%M:%S' }}</div>
                            <span>total_payment: {{ order.payment_price }}</span>
                        </div>

                        {% for item in order.order_items.all %}
                            <table class="table">
                                <tbody>
                                    <tr class="bg-light">
                                        <td class="thumbnail-img">
                                            <a href="#">
                                                <img class="img-fluid" src="{{ item.product.image.url }}" alt="" />
                                            </a>
                                        </td>
                                        <td class="name-pr">
                                            <a href="{% url "product_detail" item.product.id %}">
                                                {{ item.product.name }}
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-4 bg-info ml-3 mt-3 mb-3 text-center h-100 rounded" id="user_menu">
            {% if user.image %}
                <img src="{{ user.image.url }}" alt="user picture" style="width: 130px; height: 130px;" class="rounded-circle mt-3" id="added_image">
            {% endif %}

            <form method="post" id="change-image" enctype="multipart/form-data">
                <input type="file" class="bg-white mt-2 col-sm-12" id="user_image" name="user_image">
                <button type="submit" class="mt-2 btn-warning">change</button>
            </form>


            <div class="rounded mt-4 mb-5 text-center shadow d-flex flex-column" style="background-color: lightgoldenrodyellow">
                <a href="{% url "user-interests" %}" class="p-2 mt-2 btn-outline-primary border-0 ">Interests</a>
                <a href="{% url "user_orders" %}" class="p-2 mt-2 btn-outline-primary border-0 ">Orders</a>
                {% if user.is_staff %}
                    <form method="get" action="{% url "user_shop_page" shop_name %}">
                        <input type="hidden" value="true" name="shop_user">
                        <button class="p-2 mt-2 btn-outline-primary border-0 w-100" onclick="this.form.submit()">Shop</button>
                    </form>
                {% endif %}
                <a href="{% url "address" %}" class="p-2 mt-2 btn-outline-primary border-0 ">Addresses</a>
                <a href="{% url "profile" user.id %}" class="p-2 mt-2 btn-outline-primary border-0 ">Information</a>
                <a href="{% url "logout" %}" class="p-2 mt-2 mb-2 btn-outline-primary border-0 ">Logout</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(`#change-image`).submit(
            function (e){
                e.preventDefault();
                let a = new FormData(this)
                $.ajax({
                    type: "post",
                    url: "{% url "change_image" %}",
                    data: a,
                    success: (response)=>{
                        let resp = JSON.parse(response)
                        console.log(resp)
                        $(`#added_image`).remove()
                        $(`#user_menu`).prepend(`<img src="${resp['image']}" alt="user picture" style="width: 130px; height: 130px;" class="rounded-circle mt-3" id="added_image">`)
                    },
                    contentType: false,
                    processData: false
                })
            }
        )

    </script>
{% endblock %}